:root {
	--sidebar-size: 300px;
	--content-size: calc(100% - var(--sidebar-size));

	--text-color: antiquewhite;
	--link-hover-color: aliceblue;
	--bg-color: #444;
	--sidebar-color:#3d3d3d;
	--table-border-color: #303336;
	--table-fill-dark: #3b3c3e;
	--table-fill-light: #3f4043;
	--md-link-color: #4fa2dd;
	--md-link-hover-color: #81bfeb;
}

@font-face {
	font-family: 'Trump Bold';
	src: url('./fonts/FetteTrumpDeutsch.ttf');
}

@font-face {
	font-family: 'Futura';
	src: url('./fonts/futura.ttf');
}

html, body {
	height: 100%;
	margin: 0;
	font-family: 'Futura';
	background-color: var(--bg-color);
	color:var(--text-color);
	overflow: hidden;
}

#main {
	height: 100%;
	display: flex;
}

#seitenleiste {
	display: flex;
	background-color: var(--sidebar-color);
	max-width: var(--sidebar-size);
	min-width: var(--sidebar-size);
	height: 100%;
	padding: 10px;
	flex-direction: column;
}

/* Für 1.1, 1.2, 1.3, ect. Nummerierung in ol's*/
#seitenleiste ol {
	padding-inline-start: 10px;
	counter-reset: item;
}

#seitenleiste li {
	display: block;
	margin: 7px;
}

#seitenleiste li:before {
	font-weight: bolder;
	content: counters(item, ".") ". ";
	counter-increment: item;
}

a {
	text-decoration: none;
	color:var(--text-color);
}

a:hover {
	font-weight: bold;
	color: var(--link-hover-color);
}

#content {
	width: var(--content-size);
	left: 20%;
	padding: 10px;
	overflow: scroll;
	overflow-x: auto;
}

#kopf {
	font-family: 'Trump Bold';
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

#kopf h1 {
	margin-bottom: 0;
	line-height: 1;
	background: bottom url("img/de-flagge.png") no-repeat;
	background-size: 100% 2px;
	padding-bottom: 2px;

	/* um den unterstrich bei buchstaben, die drüber gehen würden abzubrechen */
	text-shadow:
		2px 2px var(--bg-color),
		2px -2px var(--bg-color),
		-2px 2px var(--bg-color),
		-2px -2px var(--bg-color);
}

/* "Bedienungsanleitung" */
#untertitel {
	display: flex;
	align-items: center;
}

/* dünne linien neben dem Untertitel */
.linie {
	width: 30px;
	height: 1px;
	border: none;
	margin: 0.5em;
	background-color: rgba(250, 235, 215, 0.5);
}

#kopf h4 {
	margin: 5px 0px 5px 0px;
}

#artikel {
	width: auto;
	height: calc(100% - 100px - 20px); /* kopf ist 100px, kann sich aber vielleicht Ändern!*/
	margin-top: 20px;
}

footer {
    background-color: #393939;
    width: var(--content-size);
    height: 2%;
    position: fixed;
    bottom: 0;
    left: var(--sidebar-size);
	margin-left: 20px;
    text-align: center;
    padding-top: 10px;
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
	width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #333;
	border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #666;
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }