<!DOCTYPE html>
<html lang="en">

<head>
	
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon/favicon-16x16.png">
	<link rel="manifest" href="/static/img/favicon/site.webmanifest">
	<link rel="mask-icon" href="/static/img/favicon/safari-pinned-tab.svg" color="#000000">
	<link rel="shortcut icon" href="/static/img/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="/static/img/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf8">

	<title>DDP Bedienungsanleitung</title>
	<link rel="stylesheet" href="/static/css/style.css">
	<link id="dark" rel="stylesheet" href="/static/css/dark-mode.css" media="all">
	<link id="light" rel="stylesheet" href="/static/css/light-mode.css" media="not all">

	<script src="/static/js/todoElement.js"></script>
	<script src="/static/js/script.js"></script>
	
	<script type="module" src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"></script>
</head>

<body>
	
	<a id="hamburger" onclick="toggleNav()" href="#">≡</a>
	<nav id="seitenleiste">
		<h2 id="überschrift">Table of Contents</h2>
		
		<a href="/EN/">Die Deutsche Programmiersprache</a>
		<ol id="artikel-links">
			<li><details id="d1">
				<summary><a href="/EN/p/Einstieg">Einstieg</a></summary>
				<ol>
					<li><a href="/EN/p/Einstieg/Entwicklungs-umgebung%20einrichten">Entwicklungs-umgebung einrichten</a></li>
					<li><a href="/EN/p/Einstieg/Installieren">Installieren</a></li>
					<li><a href="/EN/p/Einstieg/Erstes%20Programm">Erstes Programm</a></li>
				</ol>
			</details></li>
			<li><details id="d2">
				<summary><a href="/EN/p/Programmierung">Programmierung</a></summary>
				<ol>
					<li><a href="/EN/p/Programmierung/Datentypen">Datentypen</a></li>
					<li><a href="/EN/p/Programmierung/Typkonvertierung">Typkonvertierung</a></li>
					<li><a href="/EN/p/Programmierung/Operatoren">Operatoren</a></li>
					<li><a href="/EN/p/Programmierung/Variablen">Variablen</a></li>
					<li><a href="/EN/p/Verzweigungen%20und%20Schleifen">Verzweigungen und Schleifen</a></li>
					<li><details id="d3">
						<summary><a href="/EN/p/Programmierung/Funktionen">Funktionen</a></summary>
						<ol>
							<li><a href="/EN/p/Programmierung/Funktionen/Anwendung">Anwendung</a></li>
							<li><a href="/EN/p/Programmierung/Funktionen/Referenzen">Referenzen</a></li>
							<li><a href="/EN/p/Programmierung/Funktionen/Externe%20Funktionen">Externe Funktionen</a></li>
							<li><a href="/EN/p/Programmierung/Funktionen/Beispiele">Beispiele</a></li>
						</ol>
					</details></li>
					<li><a href="/EN/p/Programmierung/Module">Module</a></li>
					<li><details id="d4">
						<summary><a href="/EN/p/Programmierung/Standardbibliothek">Standardbibliothek</a></summary>
						<ol>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/ANSI-Escape">ANSI-Escape</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Ausgabe">Ausgabe</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Dateisystem">Dateisystem</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Eingabe">Eingabe</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Extremwerte">Extremwerte</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Laufzeit">Laufzeit</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Listen">Listen</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Mathe">Mathe</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Pfade">Pfade</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Sortierung">Sortierung</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Statistik">Statistik</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Texte">Texte</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Umgebungsvariablen">Umgebungsvariablen</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/UnterProzess">UnterProzess</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Zeichen">Zeichen</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Zeit">Zeit</a></li>
							<li><a href="/EN/p/Programmierung/Standardbibliothek/Zufall">Zufall</a></li>
							
						</ol>
					</details></li>
				</ol>
			</details></li>
			<li><a href="/EN/p/Beispielprogramme">Beispielprogramme</a></li>
			<li><a href="/EN/p/Der%20Kompilierer">Der Kompilierer</a></li>
			<li><a href="/EN/p/Fehlermeldungen">Fehlermeldungen</a></li>
		</ol>
	</nav>
	<main id="inhalt" onclick="closeNav()">
		<div id="kopf">
			<h1>Die Deutsche Programmiersprache</h1>
			<div id="untertitel">
				<hr class="linie">
				<h4>Bedienungsanleitung</h4>
				<hr class="linie">
			</div>
			<div id="toggles">
				<a href="/p/{{.page}}"><img id="sprach-toggle" src="/static/img/flags/DE.png"></a>
				<a href="#"><img src="/static/img/theme-light-dark.svg" id="dark-mode-toggle" onclick="toggleDarkMode()"></a>
			</div>

		</div>
		<article id="artikel">
			
			<zero-md id="md" src="/Artikel/EN/{{.page}}.md">
				<template>
					<link rel="stylesheet" href="/static/css/md-style.css" />
				</template>
				<script
					type="text/markdown"><h1 align=center>Diese Seite konnte nicht gefunden werde!</h1><h3 align=center>This page could not be found!</h3></script>
			</zero-md>
		</article>
		<div id="artikel-navigation">
			<div onclick="goToSurroundingLink(-1)">&lt;</div>
			<div onclick="goToSurroundingLink(1)">&gt;</div>
		</div>
	</main>
</body>

</html>