:root {
	--text-color: antiquewhite;
	--link-hover-color: aliceblue;
	--bg-color: #444;
	--sidebar-color: #3d3d3d;
	--article-nav-bg-color: #303336;
	--article-nav-hover-bg-color: #3b3d41;
	--table-border-color: #303336;
	--table-fill-dark: #3b3c3e;
	--table-fill-light: #3f4043;
	--md-link-color: #4fa2dd;
	--md-link-hover-color: #81bfeb;
	--md-code-bg-color: rgba(27,31,35,.5);
	--light-mode-filter: none;
	--scrollbar-track-bg-color: #333;
	--scrollbar-thumb-bg-color: #666;
	--scrollbar-thumb-hover-bg-color: #555;
}

#dark-mode-toggle { filter: invert(); }