:root {
	--text-color: #454545;
	--link-hover-color: #212121;
	--bg-color: #fafafa;
	--sidebar-color: #eeeeee;
	--article-nav-bg-color: #e6e6e6;
	--article-nav-hover-bg-color: #d9d9d9;
	--table-border-color: #d0d7de;
	--table-fill-dark: #f4f4f5;
	--table-fill-light: #f8f8f8;
	--md-link-color: #0074cc;
	--md-link-hover-color: #0a95ff;
	--md-code-bg-color: rgb(220 221 223 / 50%);
	--light-mode-filter: brightness(60%) saturate(350%) drop-shadow(0px 0px gray);
	--scrollbar-track-bg-color: #d7d7d7;
	--scrollbar-thumb-bg-color: #b4b4b4;
	--scrollbar-thumb-hover-bg-color: #808080;
}

#hamburger { background-color: #d8dbdc; }