/* links */
.markdown-body a {
	text-decoration: underline;
	color: var(--md-link-color);
}

.markdown-body a:hover {
	font-weight: bold;
	color: var(--md-link-hover-color);
}

/* Code blocks */
.markdown-body pre {
	padding: 16px;
	overflow: auto;
	line-height: 1.45;
	border-radius: 6px;
	background-color: var(--md-code-bg-color);
}

/* inline code block */
.markdown-body :not(pre)>code {
	padding: 4px;
	line-height: 1.85em;
	white-space: nowrap;
    background-color: var(--md-code-bg-color);
    border-radius: 3px;
}

/*table code taken from github*/
.markdown-body * {
	box-sizing: border-box;
}

.markdown-body table {
	border-spacing: 0;
    border-collapse: collapse;
	width: max-content;
	overflow: auto;
	max-width: 100%;
	display: block;
}

.markdown-body th {
	font-weight: 600;
	padding: 6px 13px;
    border: 1px solid var(--table-border-color);
}

.markdown-body tr {
	background-color: var(--table-fill-dark);
    border-top: 1px solid var(--table-fill-dark);
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

.markdown-body table tr:nth-child(2n) {
    background-color: var(--table-fill-light);
}

.markdown-body tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.markdown-body td {
	padding: 6px 13px;
    border: 1px solid var(--table-border-color);
	display: table-cell;
    vertical-align: inherit;
}

/* Syntax Highlighting */

/* light-mode readability fix */
.markdown-body .language-ddp code span,
.markdown-body .language-terminal code span {
	filter: var(--light-mode-filter);
}

/* DDP */
.markdown-body .language-ddp span.token.control-statement {
	color: #d38ecd;
}
.markdown-body .language-ddp span.token.number {
	color: #B5CEA8;
}
.markdown-body .language-ddp span.token.comment {
	color: #5b8449;
}
.markdown-body .language-ddp span.token.operator {
	color: #cdd8ff;
}
.markdown-body .language-ddp span.token.placeholder {
	color: #d7a09d;
}
.markdown-body .language-ddp span.token.boolean-literal {
	color: #569CD6;
}
.markdown-body .language-ddp span.token.string-literal {
	color: #ecb878;
}
.markdown-body .language-ddp span.token.char-literal {
	color: #f7a94b;
}
.markdown-body .language-ddp span.token.type {
	color: #80bc80;
}
.markdown-body .language-ddp span.token.builtins {
	color:#f7f774;
}

/* terminal */
.markdown-body .language-terminal span.token.command {
	color: #d38ecd;
}

.markdown-body .language-terminal span.token.option {
	color: #569CD6;
}

.markdown-body .language-terminal span.token.file {
	color: #80bc80;
}

.markdown-body .language-terminal span.token.placeholder {
	color: #d7a09d;
}

.markdown-body .language-terminal span.token.string-literal {
	color: #ecb878;
}

/* scrollbar */
.markdown-body ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
.markdown-body ::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg-color);
	border-radius: 10px;
}

/* Handle */
.markdown-body ::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg-color);
	border-radius: 10px;
}

/* Handle on hover */
.markdown-body ::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg-color);
}

/* summary header inlined */
.markdown-body summary h2 {
	display: inline;
}

.markdown-body details {
	padding: 5px;
}

details summary {
	cursor: pointer;
}

/* custom elements */

to-do {
	display: flex;
	padding: 5px;
	margin: 5px;
	border: 5px solid #df5e5e;
	background-color: #303336;
	justify-content: center;
	align-content: center;
	text-align: center;
	border-radius: 15px;
}