<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
	{{ partial "head.html" . -}}
	<body>
		{{ partial "sidebar.html" . }}
		<main id="inhalt" onclick="document.getElementById('hamburger').checked = false;">
			{{ partial "header.html" . }}

			{{ block "main" . }}{{ end }}

			{{ partial "navigation.html" . }}
		</main>
	</body>
	<script>
		window.addEventListener("visibilitychange", () => {
			if (!document.hidden) return;
			localStorage.setItem("sidebar-scroll", document.getElementById("seitenleiste").scrollTop);
			localStorage.setItem("dark-mode", document.querySelector('#dark-mode-check').checked);
		});
	</script>
</html>
