#artikel h1 {
	font-size: 2em;
}

/* links */
#artikel a {
	text-decoration: underline;
	color: var(--md-link-color);
}

#artikel a:hover {
	font-weight: bold;
	color: var(--md-link-hover-color);
}

/* Code blocks */
#artikel pre {
	padding: 16px;
	overflow: auto;
	line-height: 1.45;
	border-radius: 6px;
	background-color: var(--md-code-bg-color);
}

/* inline code block */
#artikel :not(pre)>code {
	padding: 4px;
	line-height: 1.85em;
	white-space: nowrap;
    background-color: var(--md-code-bg-color);
    border-radius: 3px;
}

/*table code taken from github*/
#artikel * {
	box-sizing: border-box;
}

#artikel table {
	border-spacing: 0;
    border-collapse: collapse;
	width: max-content;
	overflow: auto;
	max-width: 100%;
	display: block;
}

#artikel th {
	font-weight: 600;
	padding: 6px 13px;
    border: 1px solid var(--table-border-color);
}

#artikel tr {
	background-color: var(--table-fill-dark);
    border-top: 1px solid var(--table-fill-dark);
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

#artikel table tr:nth-child(2n) {
    background-color: var(--table-fill-light);
}

#artikel tbody {
	display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

#artikel td {
	padding: 6px 13px;
    border: 1px solid var(--table-border-color);
	display: table-cell;
    vertical-align: inherit;
}

#artikel .duden-func {
	border-bottom: 1px solid #aaa;
	padding: 0.5em;
	padding-right: 0;
	margin-bottom: 1rem;
}

#artikel .duden-func[open] {
	border: none;
}

#artikel .duden-func-inner {
	margin-left: 5px;
	border-left: #aaa solid 1px;
	border-bottom: 1px solid #aaa;
	border-bottom-left-radius: 1rem;
}

#artikel .duden-func blockquote {
	white-space: pre;
	margin: 0 0 0 -1px;
	border-left: #aaa solid 1px;
	border-bottom: #aaa solid 1px;
	padding: 1rem 0 1rem 1rem;
	border-bottom-left-radius: 1rem;
	text-wrap: wrap;
}

#artikel .duden-func-data {
	overflow-x: auto;
	margin: 0 0 1rem 1rem
}

/* Syntax Highlighting */

/* light-mode readability fix */
#artikel .language-ddp span,
#artikel .language-terminal span {
	filter: var(--light-mode-filter);
}

/* DDP */
#artikel .language-ddp {
	color: #88d7f6;
}
#artikel .language-ddp>span.comment {
	color: #5b8449;
}
#artikel .language-ddp>span.control-statement {
	color: #d38ecd;
}
#artikel .language-ddp>span.number {
	color: #B5CEA8;
}
#artikel .language-ddp>span.operator {
	color: #72bbf3;
}
#artikel .language-ddp>span.placeholder {
	color: #d7a09d;
}
#artikel .language-ddp>span.boolean-literal {
	color: #569CD6;
}
#artikel .language-ddp>span.char-literal {
	color: #f7a94b;
}
#artikel .language-ddp>span.type {
	color: #80bc80;
}
#artikel .language-ddp>span.builtins {
	color:#f7f774;
}
#artikel .language-ddp>span.string-literal {
	color: #ecb878;
}
#artikel .language-ddp>span.punctuation {
	color: var(--text-color);
}

/* terminal */
#artikel .language-terminal>span.command {
	color: #d38ecd;
}

#artikel .language-terminal>span.option {
	color: #569CD6;
}

#artikel .language-terminal span.file {
	color: #80bc80;
}

#artikel .language-terminal span.placeholder {
	color: #d7a09d;
}

#artikel .language-terminal span.string-literal {
	color: #ecb878;
}

/* scrollbar */
#artikel ::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
#artikel ::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg-color);
	border-radius: 10px;
}

/* Handle */
#artikel ::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg-color);
	border-radius: 10px;
}

/* Handle on hover */
#artikel ::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg-color);
}

/* summary header inlined */
#artikel summary h2 {
	display: inline;
}

#artikel details {
	padding: 5px;
}

details summary {
	cursor: pointer;
}

to-do {
	display: flex;
	padding: 5px;
	margin: 5px;
	border: 5px solid #df5e5e;
	background-color: var(--md-code-bg-color);
	justify-content: center;
	align-content: center;
	text-align: center;
	border-radius: 15px;
}