#artikel {
	h1 {
		font-size: 2em;
	}
	
	a {
		text-decoration: underline;
		color: var(--md-link-color);

		&:hover {
			font-weight: normal;
			color: var(--md-link-hover-color);
		}
	}

	pre {
		padding: 16px;
		overflow: auto;
		line-height: 1.45;
		border-radius: 6px;
		background-color: var(--md-code-bg-color);
	}

	:not(pre)>code {
		padding: 4px;
		line-height: 1.85em;
		white-space: nowrap;
		background-color: var(--md-code-bg-color);
		border-radius: 3px;
	}

	table {
		border-spacing: 0;
		border-collapse: collapse;
		width: max-content;
		overflow: auto;
		max-width: 100%;
		display: block;
	}

	th {
		font-weight: 600;
		padding: 6px 13px;
		border: 1px solid var(--table-border-color);
	}

	tr {
		background-color: var(--table-fill-dark);
		border-top: 1px solid var(--table-fill-dark);
		display: table-row;
		vertical-align: inherit;
		border-color: inherit;
	}

	table tr:nth-child(2n) {
		background-color: var(--table-fill-light);
	}

	tbody {
		display: table-row-group;
		vertical-align: middle;
		border-color: inherit;
	}

	td {
		padding: 6px 13px;
		border: 1px solid var(--table-border-color);
		display: table-cell;
		vertical-align: inherit;
	}

	.duden-obj {
		border-bottom: 1px solid #aaa;
		padding: 0.5em;
		padding-right: 0;
		margin-bottom: 1rem;

		&[open] {
			border: none;
		}
	}
	
	.duden-obj-inner {
		margin-left: 5px;
		border-left: #aaa solid 1px;
		border-bottom: 1px solid #aaa;
		border-bottom-left-radius: 1rem;
	}

	.duden-obj-inner > blockquote {
		white-space: pre;
		margin: 0 0 0 -1px;
		border-left: #aaa solid 1px;
		border-bottom: #aaa solid 1px;
		padding: 1rem 0 1rem 1rem;
		border-bottom-left-radius: 1rem;
		text-wrap: wrap;
	}

	.duden-obj-data {
		overflow-x: auto;
		margin: 0 0 1rem 1rem
	}

	/* Syntax Highlighting */

	/* light-mode readability fix */
	.language-ddp span,
	.language-terminal span {
		filter: var(--light-mode-filter);
	}

	/* DDP */
	.language-ddp {
		color: var(--md-link-hover-color);
	}
	.language-ddp>span.comment {
		color: #5b8449;
	}
	.language-ddp>span.control-statement {
		color: #d38ecd;
	}
	.language-ddp>span.number {
		color: #B5CEA8;
	}
	.language-ddp>span.operator {
		color: #72bbf3;
	}
	.language-ddp>span.placeholder {
		color: #d7a09d;
	}
	.language-ddp>span.boolean-literal {
		color: #569CD6;
	}
	.language-ddp>span.char-literal {
		color: #f7a94b;
	}
	.language-ddp>span.type {
		color: #80bc80;
	}
	.language-ddp>span.builtins {
		color:#f7f774;
	}
	.language-ddp>span.string-literal {
		color: #ecb878;
	}
	.language-ddp>span.punctuation {
		color: var(--text-color);
	}

	/* terminal */
	.language-terminal>span.command {
		color: #d38ecd;
	}

	.language-terminal>span.option {
		color: #569CD6;
	}

	.language-terminal span.file {
		color: #80bc80;
	}

	.language-terminal span.placeholder {
		color: #d7a09d;
	}

	.language-terminal span.string-literal {
		color: #ecb878;
	}

	/* scrollbar */
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: var(--scrollbar-track-bg-color);
		border-radius: 10px;
	}

	/* Handle */
	::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb-bg-color);
		border-radius: 10px;
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: var(--scrollbar-thumb-hover-bg-color);
	}

	/* summary header inlined */
	summary h2 {
		display: inline;
	}

	details {
		padding: 5px;
	}

	to-do {
		display: flex;
		padding: 5px;
		margin: 5px;
		border: 5px solid #df5e5e;
		background-color: var(--md-code-bg-color);
		justify-content: center;
		align-content: center;
		text-align: center;
		border-radius: 15px;
	}
}
