:root {
	--sidebar-size: 280px;
	--content-size: calc(100% - var(--sidebar-size));
	--theme-toggle-img: url(/svg/theme-light-dark.min.svg);
	--title-img: url(/svg/title.min.svg);
	--line-img: url(/svg/line.min.svg);
	color-scheme: dark light;

	--text-color: light-dark(#454545, antiquewhite);
	--link-hover-color: light-dark(#212121, aliceblue);
	--bg-color: light-dark(#fafafa, #444);
	--sidebar-color: light-dark(#eeeeee, #3d3d3d);
	--article-nav-bg-color: light-dark(#e6e6e6, #303336);
	--article-nav-hover-bg-color: light-dark(#d9d9d9, #3b3d41);
	--table-border-color: light-dark(#d0d7de, #303336);
	--table-fill-dark: light-dark(#f4f4f5, #3b3c3e);
	--table-fill-light: light-dark(#f8f8f8, #3f4043);
	--md-link-color: light-dark(#3452c5, #86ccff);
	--md-link-hover-color: light-dark(#0a95ff, #cce9ff);
	--md-code-bg-color: light-dark(rgb(220 221 223 / 50%), rgba(27, 31, 35, 0.5));
	--scrollbar-track-bg-color: light-dark(#d7d7d7, #333);
	--scrollbar-thumb-bg-color: light-dark(#b4b4b4, #666);
	--scrollbar-thumb-hover-bg-color: light-dark(#808080, #555);
	--hamburger-background: light-dark(#d8dbdc, black);
}

:root:has(#dark-mode-check:checked) {
	color-scheme: dark;
	--light-mode-filter: none;
}

:root:has(#dark-mode-check:not(:checked)) {
	color-scheme: light;
	--light-mode-filter: brightness(60%) saturate(350%) drop-shadow(0px 0px gray);
}

/* screen width larger than 830px (desktop/tablet) */
@media screen and (min-width: 831px) {
	.hamburger-btn {
		display: none; /* eat hamburger */
	}
}

/* screen width smaller than 830px (phone) */
@media screen and (max-width: 830px) {
	.hamburger-btn {
		position: absolute;
		left: 0;
		font-size: 1.5em;
		width: 30px;
		height: 30px;
		text-align: center;
		background-color: var(--hamburger-background);
		z-index: 2; /* make the hamburger on top of everything */
		font-weight: normal; /* to prevent the hamburger from going bold on click*/
		transition: left 350ms ease-in-out;
		cursor: pointer;
	}
	#hamburger {
		display: none;
		margin: 0;

		&:checked, &:checked ~ label[for=hamburger] {
			left: calc(var(--sidebar-size) - 35px);
		}

		&:not(:checked) ~ #seitenleiste {
			width: 0;
		}
		&:checked ~ #seitenleiste {
			box-shadow: 0 0 0 100vmax rgba(16, 16, 16, 0.6);
		}
	}
	#seitenleiste {
		position: absolute; /* make sidebar an overlay */
		z-index: 1; /* make sidebar on top of content */
		transition: width 350ms ease-in-out;
	}
	
	:root {
		--content-size: 100%;
	}
}

html, body {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
	font-size: medium;
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow: hidden;
}

details > summary {
	cursor: pointer;
}

#seitenleiste {
	display: flex;
	flex: 0 0 auto;
	background-color: var(--sidebar-color);
	width: var(--sidebar-size);
	height: 100%;
	flex-direction: column;
	overflow: hidden auto;
	text-wrap: nowrap;

	h2 {
		margin-bottom: 40px;
		text-decoration: underline;
	}

	/* Für 1.1, 1.2, 1.3, ect. Nummerierung in ol's*/
	ol {
		padding-inline-start: 10px;
	}

	li {
		padding: 3px;
		margin-left: 12px;
		counter-increment: item;
	
		&::marker {
			font-weight: bolder;
			content: counters(item, ".") ". ";
		}
	}

	details {
		counter-reset: item;
		list-style-type: none;
	}
}

a {
	text-decoration: none;
	color: var(--text-color);

	&:hover {
		font-weight: bold;
		color: var(--link-hover-color);
	}
}

#inhalt {
	width: 100%;
	overflow: auto;
	padding: 10px 10px 40px;
}

#kopf {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: .5rem;
	gap: 1rem;
}

#titel {
	background-color: var(--text-color);
	mask: var(--title-img) no-repeat center / contain;
	display: block;
	width: clamp(310px, 60vw, 550px);
	aspect-ratio: 9/1;
}

#linie {
	background: var(--line-img) no-repeat center / contain;
}

#dark-mode-check {
	background: var(--theme-toggle-img) no-repeat center;
	width: 30px;
	height: 20px;
	appearance: none;
	cursor: pointer;
	margin: 0;

	&:checked {
		filter: invert();
	}
}

#artikel-navigation {
	position: fixed;
	display: grid;
	grid-template-columns: 1fr 1fr;
	bottom: 0;
	width: var(--content-size);
	height: 40px;
	margin-left: -10px;
	background-color: var(--article-nav-bg-color);
	text-align: center;

	a {
		width: 100%;
		height: 100%;
		transition: background-color 200ms;
		align-content: flex-end;

		&:hover {
			background-color: var(--article-nav-hover-bg-color)
		}
	}

	svg {
		fill: var(--text-color);
	}
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg-color);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg-color);
}