:root {
	--sidebar-size: 280px;
	--content-size: calc(100% - var(--sidebar-size));
	--theme-toggle-img: url(/Bedienungsanleitung/img/theme-light-dark.svg);
	--title-img: url(/Bedienungsanleitung/img/title.svg);
	--line-img: url(/Bedienungsanleitung/img/line.svg);
}

:root:has(#dark-mode-check:checked) {
	--text-color: antiquewhite;
	--link-hover-color: aliceblue;
	--bg-color: #444;
	--sidebar-color: #3d3d3d;
	--article-nav-bg-color: #303336;
	--article-nav-hover-bg-color: #3b3d41;
	--table-border-color: #303336;
	--table-fill-dark: #3b3c3e;
	--table-fill-light: #3f4043;
	--md-link-color: #86ccff;
	--md-link-hover-color: #cce9ff;
	--md-code-bg-color: rgba(27,31,35,.5);
	--light-mode-filter: none;
	--scrollbar-track-bg-color: #333;
	--scrollbar-thumb-bg-color: #666;
	--scrollbar-thumb-hover-bg-color: #555;
	--hamburger-background: black;
}

:root:has(#dark-mode-check:not(:checked)) {
	--text-color: #454545;
	--link-hover-color: #212121;
	--bg-color: #fafafa;
	--sidebar-color: #eeeeee;
	--article-nav-bg-color: #e6e6e6;
	--article-nav-hover-bg-color: #d9d9d9;
	--table-border-color: #d0d7de;
	--table-fill-dark: #f4f4f5;
	--table-fill-light: #f8f8f8;
	--md-link-color: #3452c5;
	--md-link-hover-color: #0a95ff;
	--md-code-bg-color: rgb(220 221 223 / 50%);
	--light-mode-filter: brightness(60%) saturate(350%) drop-shadow(0px 0px gray);
	--scrollbar-track-bg-color: #d7d7d7;
	--scrollbar-thumb-bg-color: #b4b4b4;
	--scrollbar-thumb-hover-bg-color: #808080;
	--hamburger-background: #d8dbdc;
}

@font-face {
	font-family: 'Futura';
	src: url('/Bedienungsanleitung/fonts/Futura.ttf');
	font-display: swap;
}

/* screen width larger than 830px (desktop/tablet) */
@media screen and (min-width: 831px) {
	.hamburger-btn {
		display: none; /* eat hamburger */
	}
}

/* screen width smaller than 830px (phone) */
@media screen and (max-width: 830px) {
	.hamburger-btn {
		position: absolute;
		left: 0;
		font-size: 1.5em;
		width: 30px;
		height: 30px;
		text-align: center;
		background-color: var(--hamburger-background);
		z-index: 2; /* make the hamburger on top of everything */
		font-weight: normal; /* to prevent the hamburger from going bold on click*/
		transition: left 350ms ease-in-out;
		cursor: pointer;
	}
	#hamburger {
		display: none;
		margin: 0;
	}
	#seitenleiste {
		position: absolute; /* make sidebar an overlay */
		z-index: 1; /* make sidebar on top of content */
		transition: width 350ms ease-in-out;
	}
	#hamburger:checked, #hamburger:checked ~ label[for=hamburger] {
		left: calc(var(--sidebar-size) - 35px);
	}
	#hamburger:not(:checked) ~ #seitenleiste {
		width: 0;
	}
	#hamburger:checked ~ #seitenleiste {
		box-shadow: 0 0 0 100vmax rgba(16, 16, 16, 0.6);
	}
	:root {
		--content-size: 100%;
	}
}

html, body {
	display: flex;
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: 'Futura', sans-serif;
	font-size: medium;
	background-color: var(--bg-color);
	color: var(--text-color);
	overflow: hidden;
}

#seitenleiste h2#überschrift {
	margin-bottom: 40px;
	text-decoration: underline;
}

#seitenleiste {
	display: flex;
	flex: 0 0 auto;
	background-color: var(--sidebar-color);
	width: var(--sidebar-size);
	height: 100%;
	flex-direction: column;
	overflow: hidden auto;
	text-wrap: nowrap;
}

/* Für 1.1, 1.2, 1.3, ect. Nummerierung in ol's*/
#seitenleiste ol {
	padding-inline-start: 10px;
}

#seitenleiste li {
	padding: 3px;
	margin-left: 12px;
	counter-increment: item;
}

#seitenleiste li::marker {
	font-weight: bolder;
	content: counters(item, ".") ". ";
}

#seitenleiste details {
	counter-reset: item;
	list-style-type: none;
}

details summary {
	cursor: pointer;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

a:hover {
	font-weight: bold;
	color: var(--link-hover-color);
}

#inhalt {
	width: 100%;
	overflow: auto;
	padding: 10px 10px 40px;
}

#kopf {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: .5rem;
}

#kopf #titel {
	background-color: var(--text-color);
	mask: var(--title-img) no-repeat center / contain;
	display: block;
	width: clamp(310px, 60vw, 550px);
	aspect-ratio: 9/1;
}

#linie {
	background: var(--line-img) no-repeat center / contain;
}

#kopf #toggles {
	margin-top: 1rem;
}

#kopf #toggles #dark-mode-check {
	background: var(--theme-toggle-img) no-repeat center;
	width: 30px;
	height: 20px;
	appearance: none;
	cursor: pointer;
	margin: 0;
}

#dark-mode-check:checked {
	filter: invert();
}

#artikel-navigation {
	position: fixed;
	display: flex;
	bottom: 0;
	width: var(--content-size);
	height: 40px;
	margin-left: -10px;
	background-color: var(--article-nav-bg-color);
	justify-content: space-around;
	align-items: center;
}

#artikel-navigation a {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
	font-weight: 900;
	transition: background-color 200ms;
	cursor: pointer;
}

#artikel-navigation a:hover {
	background-color: var(--article-nav-hover-bg-color)
}

/* scrollbar */

/* width */
::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--scrollbar-track-bg-color);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-bg-color);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover-bg-color);
}