<header id="kopf">
	<a href="https://ddp.le0n.dev"><img src="img/title.svg" alt="titel" id="titel"/></a>
	<script>
		if (document.querySelector('html').getAttribute('data-theme') === 'light') {
			document.querySelector('#titel').src = 'img/title-dark.svg';
		}
	</script>
	<div id="toggles">
		{{- if eq .Language.Lang "de" }} 
			<a href="{{ (index .Translations 0).Permalink}}"><img id="sprach-toggle" alt="sprach-toggle" src="img/en.svg" title="to German site"></a>
		{{- else }}
			<a href="{{ (index .Translations 0).Permalink}}"><img id="sprach-toggle" alt="sprach-toggle" src="img/de.svg" title="zur Englischen Seite"></a>
		{{- end }}
		<img src="img/theme-light-dark.svg" alt="dark mode toggeln" id="dark-mode-toggle" class="btn" onclick="toggleDarkMode()" title="light/dark mode">
	</div>
</header>