<header id="kopf">
	<s id="linie"><a href="https://ddp.le0n.dev" alt="titel" id="titel" title="homepage"></a></s>
	<div id="toggles">
		<a href="{{ (index .Translations 0).Permalink}}">
			<img id="sprach-toggle" alt="sprach-toggle" src='img/{{ T "otherFlag" }}' title='{{ T "siteLink" }}' width="30" height="20">
		</a>
		<input type="checkbox" id="dark-mode-check" title='{{ T "ldMode" }}' checked>
	</div>
	<script>
		document.querySelector('#dark-mode-check').checked = window.localStorage.getItem("dark-mode") !== "false";
	</script>
</header>