<nav id="artikel-navigation">
    <!-- Find next and previous page -->

    {{- $root := .GetPage "/" -}}
    
    <!-- Next -->
    {{- $next := .CurrentSection.Pages.Prev . -}}
    <!-- Section -> Child -->
    {{- if or .IsSection (.Eq $root) -}}
        {{- $next = index .Pages 0 -}}
    {{- end -}}
    {{- if eq $next nil -}}
        {{- with .CurrentSection.Parent -}}
            <!-- Beispiele -> Kombinationen -->
            {{- with .Pages.Prev $.CurrentSection -}}
                {{- $next = . -}}
            <!-- Zufall -> Beispielprogramme -->
            {{- else -}}
                {{- $next = .Parent.Pages.Prev . -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}

    <!-- Previous -->
    {{- $prev := .CurrentSection.Pages.Next . -}}
    <!-- Funktionen -> Verzweigungen -->
    {{- if .IsSection -}}
        {{- $prev = .Parent.Pages.Next . -}}
    {{- end -}}
    
    <!-- Datentypen -> Programmierung -->
    {{- if .Eq (index .CurrentSection.Pages 0) -}}
        {{- $prev = .CurrentSection -}}
    <!-- Kombinationen -> Beispiele -->
    {{- else if and $prev $prev.IsSection -}}
        {{- $prev = index ($prev.Pages | last 1) 0 -}}
    {{- end -}}
    
	<link rel="prefetch" href="{{- with or $prev $root -}} {{- .RelPermalink -}} {{- end -}}" as="document">
	<link rel="prefetch" href="{{- with or $next $root -}} {{- .RelPermalink -}} {{- end -}}" as="document">

    <a href="{{- with or $prev $root -}} {{- .RelPermalink -}} {{- end -}} " title='{{- T "prev" -}}'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2rem" height="2rem" fill="white"><path d="M15.41,16.58L10.83,12L15.41,7.41L14,6L8,12L14,18L15.41,16.58Z" /></svg>
    </a>
    <a href="{{- with or $next $root -}} {{- .RelPermalink -}} {{- end -}}" title='{{- T "next" -}}'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="2rem" height="2rem" fill="white"><path d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z" /></svg>
    </a>
</nav>