<details>
	<summary><h2>{{ .Get "name" }}</h2></summary>
	{{ with .Get "desc" }}
		<pre>{{ . | plainify }}</pre>
	{{ end }}
	<ul>
		{{ with .Get "params" }}
			<li>{{ i18n "params"}}: 
				{{ $params := strings.Split . "," }}
				<code>{{ delimit $params "</code>, <code>" }}</code>
			</li>
		{{ end }}
		{{ with .Get "paramTypes" }}
			<li>{{ i18n "paramType"}}: 
				{{ $params := strings.Split . "," }}
				<code>{{ delimit $params "</code>, <code>" }}</code>
			</li>
		{{ end }}
		<li>{{ i18n "returnType"}}:  <code>{{ .Get "ret" }}</code></li>
	</ul>

	<h3>{{ i18n "aliases" }}</h3>
	<ol>
		{{ with .Get "aliases" }}
			{{ $aliases := split . "\"" }} <!--"}}-->
			{{ range $aliases}}
				<li><code>{{ . }}</code></li>
			{{ end }}
		{{ else}}
			<p>Keine Aliase definiert</p>
		{{ end}}
	</ol>

	<h3>{{ i18n "impl" }}</h3>
	{{ if eq (.Get "extern") "false" }}
		{{ replace (.Get "impl" | plainify) "&emsp;" "    " }}
	{{ else }}
		<p>{{ i18n "externImpl" }} <code>{{ .Get "impl" }}</code></p>
	{{ end }}

</details>