<details class="duden-func">
	{{ $name := .Get "name" }}
	<summary id="{{ $name }}"><h2>{{ .Get "name" }}</h2></summary>
	<div class="duden-func-inner">
		{{ with .Get "desc" }}
			<blockquote>{{ . | safeHTML }}</blockquote>
		{{ end }}
		<div class="duden-func-data">
			<ul>
				{{ with .Get "params" }}
					<li>{{ i18n "params"}}: {{ . | safeHTML }}</li>
				{{ end }}
				{{ with .Get "paramTypes" }}
					<li>{{ i18n "paramType"}}: {{ . | safeHTML }}</li>
				{{ end }}
				<li>{{ i18n "returnType"}}: <code>{{ .Get "ret" }}</code></li>
			</ul>
	
			<h3>{{ i18n "aliases" }}</h3>
			<ol>
				{{ with .Get "aliases" }}
					{{ $aliases := split . "\"" }} <!--"}}-->
					{{ range $aliases}}
						<li><code>{{ . }}</code></li>
					{{ end }}
				{{ else}}
					<p>Keine Aliase definiert</p>
				{{ end}}
			</ol>
	
			<h3>{{ i18n "impl" }}</h3>
			{{ if eq (.Get "extern") "false" }}
				<pre><code>{{ replace (.Get "impl" | plainify) "&emsp;" "    " }}</code></pre>
			{{ else }}
				<p>{{ i18n "externImpl" }} <code>{{ .Get "impl" }}</code></p>
			{{ end }}
		</div>
	</div>
</details>