<details class="duden-obj">
	{{ $name := .Get "name" }}
	<summary id="{{ $name }}"><h2>{{ .Get "name" }}</h2></summary>
	<div class="duden-obj-inner">
		{{ with .Get "desc" }}
			<blockquote>{{ . | safeHTML }}</blockquote>
		{{ end }}
		<div class="duden-obj-data">
			<ul>
				{{ with .Get "fields" }}
					{{ $fields := split . "|"}}
					{{ range $fields }}
						<li><code>{{ . | htmlUnescape }}</code></li>
					{{ end }}
				{{ end }}
			</ul>
	
			<h3>{{ i18n "aliases" }}</h3>
			<ol>
				{{ with .Get "aliases" }}
					{{ $aliases := split . "\"" }} <!--"}}-->
					{{ range $aliases}}
						<li><code>{{ . }}</code></li>
					{{ end }}
				{{ else}}
					<p>Keine Aliase definiert</p>
				{{ end}}
			</ol>
		</div>
	</div>
</details>